@model TicketManager.WebUI.Models.SignUpInformation

@{
    ViewBag.Title = "SignUp";
    Layout = "";
}

@*//TODO USE DATA ATTR AND CONTINUAL DATA VALIDATION*@

<script src="https://kit.fontawesome.com/7bc2b6c846.js" crossorigin="anonymous"></script>
<link href="~/Content/LoginStyles.css" rel="stylesheet" />

<div class="SignUpBox">
    
    <div class="homeButton">
        <a href="/"><i class="fas fa-arrow-left"></i> Home</a>
    </div>

    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
    {
        <div>
            <h3>Sign Up</h3>
        </div>

        @Html.ValidationSummary()

        <div>
            @Html.TextBoxFor(m => m.Username, new { @class = "enterField", placeholder = "Enter Username" })
        </div>

        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "enterField", placeholder = "Enter Password" })
        </div>

        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "enterField", placeholder = "Confirm Password" })
        </div>

        <div>
            @Html.TextBoxFor(m => m.Name, new { @class = "enterField", placeholder = "Enter Display name" })
        </div>
        <input type="submit" value="Sign Up" class="btn btn-primary" />
    }

</div>
