@model IEnumerable<TicketManager.WebUI.Models.CartViewInfo>

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered table-condensed table-striped">

    <thead>
        <tr>
            <td>Ticket Name</td>
            <td>Event Start Time</td>
            <td>Quantity</td>
            <td>Ticket Price</td>
            <td>Remove</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var tick in Model)
        {
            <tr>
                <td>@tick.TicketName</td>
                <td>@tick.EventTime</td>
                <td>@tick.Quantity</td>
                <td>@tick.TicketPrice.ToString("c")</td>
                <td>@Html.ActionLink("Remove", "RemoveLine", "Cart", new { tickId = tick.TicketID }, null)</td>
            </tr>
        }
    </tbody>

</table>

<div>
    Total Price: @Model.Sum(e => e.Quantity * e.TicketPrice)
</div>
<div>
    @Html.ActionLink("Checkout", "Checkout", "Cart")
</div>