@model IEnumerable<TicketManager.WebUI.Models.CartViewInfo>

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if(TempData["UnavailableTicketMessage"] != null)
{
    <div>
        @TempData["UnavailableTicketMessage"]
    </div>
}


<table class="table table-bordered table-striped" style="margin-top:50px;">

    <thead class="thead-dark">
        <tr>
            <th>Ticket Name</th>
            <th>Event Start Time</th>
            <th>Quantity</th>
            <th>Ticket Price</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tick in Model)
        {
            <tr>
                <td>@tick.TicketName</td>
                <td>@tick.EventTime</td>
                <td>@tick.Quantity</td>
                <td>@tick.TicketPrice.ToString("c")</td>
                <td>@Html.ActionLink("Remove", "RemoveLine", "Cart", new { tickId = tick.TicketID }, null)</td>
            </tr>
        }
    </tbody>

</table>

<div>
    Total Price: @Model.Sum(e => e.Quantity * e.TicketPrice)
</div>
<div>
    @Html.ActionLink("Checkout", "Checkout", "Cart")
</div>
<div>
    @Html.ActionLink("Empty Cart", "ClearCart", "Cart")
</div>