@model TicketManager.WebUI.Models.ModifyTicketModel

@{
    ViewBag.Title = "ModifyTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("ModifyTicket", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(p => p.TicketID)
        @Html.ValidationSummary()
        foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "TicketID":
                    break;
                case "StartBuyTime":
                case "EndBuyTime":
                case "EventTime":
                    <div>
                        <label>@property.PropertyName</label>
                        @Html.TextBox(property.PropertyName, property.Description, new { type = "date" })
                    </div>
                    break;
                default:
                    <div>
                        <label>@property.PropertyName</label>
                        @Html.TextBox(property.PropertyName)
                    </div>
                    break;
            }
        }

        <div>
            <input type="submit" value="Save" />
        </div>
        
    }
</div>

