
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="center text-center">
        @Html.ActionLink("Show Tickets", "ShowTickets", "Admin")
    </div>

    <div class="center text-center">
        @Html.ActionLink("Add tickets", "Create", "Admin")
    </div>

    @* TODO Make Login Button *@
    <div class="center text-center">
        @Html.ActionLink("Login", "Login", "Account")
    </div>

    @* TODO Make Sign Up Button     *@
    <div class="center text-center">
        @Html.ActionLink("Sign Up", "SignUp", "Account")
    </div>

    <div class="center text-center">
        @Html.ActionLink("Show Users", "ViewUsers", "User")
    </div>
</body>
</html>
