    @model TicketManager.WebUI.Models.TicketShowModel

@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "ShowTicketsPage",
        HttpMethod = "GET"
    };
}


@using (Ajax.BeginForm("GetTicketTable", ajaxOpts))
{
    <script>
        $(document).ready(function () {
            $('.fa-angle-double-down').hide();
            $('#' + whichColumn + 'Icon').show();
            if (ascOrder == "1") {
                $('#' + whichColumn + 'Icon').addClass("fa-angle-double-up");
                $('#' + whichColumn + 'Icon').removeClass("fa-angle-double-down");
            }
        })
    </script>
    <div id="ShowTicketsPage">

        <div id="ShowTicketsTable">
            <div class="My_th" onclick="orderColumn('TicketName')">Ticket Name <i id="TicketNameIcon" class="fas fa-angle-double-down"></i> </div>
            <div class="My_th" onclick="orderColumn('Organizer')">Organizer <i  id="OrganizerIcon" class="fas fa-angle-double-down"></i></div>
            <div class="My_th" onclick="orderColumn('EventTime')">Event Time <i id="EventTimeIcon" class="fas fa-angle-double-down"></i></div>
            <div class="My_th" onclick="orderColumn('Price')">Price <i id="PriceIcon" class="fas fa-angle-double-down"></i></div>
            <div class="My_th">Actions</div>
            <div class="My_th"></div>
            @foreach (var tick in Model.Tickets)
            {
                <div class="My_td wordbreak fontsize18"> <a href=@Url.Content("~/ticket/" + tick.TicketID)> @tick.TicketName </a></div>
                <div class="My_td wordbreak fontsize18">@tick.Organizer</div>
                <div class="My_td">@tick.EventTime</div>
                <div class="My_td">@tick.Price.ToString("c")</div>
                <div class="My_td">
                    <a class="buybtn" onclick="BuyTicket(@tick.TicketID)"> Buy Ticket </a>
                </div>
                <div class="My_td" style="position:relative;">
                    <i class="fas fa-align-justify fontsize18 dropbtn" style="float:right" onclick="DropActions('@("drop" +tick.TicketID.ToString())')"></i>
                    <div id="@("drop" +tick.TicketID.ToString())" class="dropdownActions">
                        <a class="optionsbtn" href=@Url.Content("~/ticket/" + tick.TicketID)>Show</a>
                        @if (HttpContext.Current.User.IsInRole("Admin"))
                        {
                            <a class="optionsbtn" href=@Url.Action("ModifyTicket","Admin",new { tickID = tick.TicketID})>Edit</a>
                            <a class="optionsbtn" href=@Url.Action("DeleteTicket","Admin",new { tickID = tick.TicketID})>Delete</a>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="tablenav">

            @Ajax.ActionLink(" ", "GetTicketTable", new { page = 1 }, ajaxOpts, new { @class = "fas fa-backward fontsize18" })

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.PageNow)
                {
                    <div>
                        @Ajax.ActionLink(i.ToString(), "GetTicketTable", new { page = i }, ajaxOpts, new { style = "color: red", @class = "navbutton" })
                    </div>
                }
                else
                {
                    <div>
                        @Ajax.ActionLink(i.ToString(), "GetTicketTable", new { page = i }, ajaxOpts, new { @class = "navbutton" })
                    </div>
                }
            }

            @Ajax.ActionLink(" ", "GetTicketTable", new { page = Model.TotalPages }, ajaxOpts, new { @class = "fas fa-forward fontsize18" })
        </div>

    </div>
}