<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/nav.js" defer></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="HGparent">
        <header class="HGheader">
            <div class="page_header">
                <div class="logo" >
                    <a href="/">Ticket Manager</a>
                </div>
                @{ 
                    //TODO Dropdown when small screen
                }
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Profile", "ShowProfile", "User")
                        </li>
                        <li>
                            @Html.ActionLink("View Cart", "ShowCart", "Cart")
                        </li>
                        <li>
                            @Html.ActionLink("Log Out", "LogOut", "Account")
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Login", "Login", "Account")
                        </li>
                        <li>
                            @Html.ActionLink("Sign Up", "SignUp", "Account")
                        </li>
                    }
                </ul>
            </div>
            @if (TempData["error"] != null)
            {
                <div>
                    @TempData["error"]
                </div>
            }
        </header>

        <div class="HGleft">
            <div class="TESTINFOROLE">

                Your Roles are:
                @{Html.RenderAction("TestUserRole", "Test", new { tempName = HttpContext.Current.User.Identity.Name }); }

            </div>
        </div>

        <div class="HGmain">
            @RenderBody()
        </div>

        <div class="HGright">
            <div id="NotificationCenter"></div>
        </div>
    </div>
</body>
</html>